{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 110px;">
        <h1>Page de profil</h1>
        <div class="list-group">
                <a class="list-group-item list-group-item-action" href="{{ path('trick.index') }}">Les figures</a>
                <a class="list-group-item list-group-item-action" href="{{ path('trick.add') }}">Ajouter les figures</a>
                <a class="list-group-item list-group-item-action" href="{{ path('trickGroup.index') }}">Les groupes de figures</a>
                <a class="list-group-item list-group-item-action" href="{{ path('trickGroup.add') }}">Ajouter les groupes de figures</a>
        </div>
    </div>
{% endblock %}