{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block body %}
    <img class="img-fluid" src="images/main.jpg" alt="">
    <div class="container mt-4">
        <div class="row" id="tricks">
            {% for trick in tricks %}
                {% if trick.active == 1 %}
                    <div class="col-md-3 mt-4">
                        <a href="{{ path('trick.show', {'id': trick.id, 'slug': trick.slug}) }}">
                            <div class="card shadow">
                                {% for image in trick.images %}
                                    {% if image.mainImg == 1 %}
                                        <img src="/images/tricks/{{ image.name }}" class="card-img-top" alt="...">
                                    {% endif %}
                                {% endfor %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ trick.name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}