{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <h1>Bonjour {{ app.user.username }}</h1>
        {% else %}
            <h1>Bienvenue sur la page d'accueil</h1>
        {% endif %}
        <div class="row">
            {% for trick in tricks %}
                <div class="col-md-3 ml-3">
                    <a href="{{ path('trick.show', {'id': trick.id, 'slug': trick.slug}) }}">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ trick.name }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}