{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <h1>Bonjour {{ app.user.username }}</h1>
        {% else %}
            <h1>Bienvenue sur la page d'accueil</h1>
        {% endif %}
        <div>
            {% for trick in tricks %}
                <a href="{{ path('trick.show', {'id': trick.id, 'slug': trick.slug}) }}">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.name }}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}