{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <h1>Bonjour {{ app.user.username }}</h1>
        {% else %}
            <h1>Bienvenue sur la page d'accueil</h1>
        {% endif %}
    </div>
{% endblock %}