{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Les figures</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
            <tr>
                <th scope="row">{{ trick.id }}</th>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}