{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Page de profil</h1>
        <ul>
            <li><a href="{{ path('trick.index') }}">Les figures</a></li>
        </ul>
    </div>
{% endblock %}